.thirdsection {
  //height: 100%; ( after work then comment for responsive design )
    width: 100%;


    background-image: url('../images/background2.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;


  //after responsive forcefully pushing down
    margin-top: -6.5rem;
}